.root {
  padding: 1rem;
}

.input {
  margin-top: 1.25rem;

  &:first-of-type {
    margin-top: 0;
  }
}

.inputGroupHorizontal {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 1.25rem;
}
